sounddevice==0.5.5
numpy==2.5.0
faster-whisper==1.2.1
pyperclip==1.11.0
scipy==1.18.0
flet[desktop]==0.85.3
requests==2.34.2
pynput==1.8.2
python-xlib==0.33; sys_platform == 'linux'
evdev>=1.9.3; sys_platform == 'linux'
